body{
    background: url("https://lh5.googleusercontent.com/-YS-OiKjLH7Q/VF_SREe9bZI/AAAAAAAAACQ/lB9QmG77uVI/s0-d/man%2Bu.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}